.project {margin: 2em;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
}

.project img {
    width: 70vh;
    border-radius: 10px;
}

.project p {
    font-size: 40px;
    color: #3e497a;
}

.project svg {
    font-size: 60px;
    color: #3e497a;
}

.click-me:hover {
    box-shadow: 0px 3px 15px rgba(7, 0, 64, 0.5);
    border-radius: 50%;
    transition: 0.4s ease-in;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .project {
        margin: 0em;
    }
    .project img {
            width: 40vh;
}
.project p {
    text-align:center;
    margin: 2em;
    font-size: 20px;
    color: #3e497a;
}}